<h>hi how is the show</h><br>
<input type = "text" name = "fname"/> enter your name <br><br><br><br>
<textarea   cols = "40" rows = "5">"put comments here" </textarea><br>
<button type = "button" value = "submit">
<button type = "button">submit </button>